h1 {
    color:lightpink;
}

.animation-container {
    width: 50vw;
    height: 50vh; 
    backgorund: rgb(255, 182, 193);

position: absolute;
left: 50%;
top: 50%;
transform: translate (-50%, -50%);
}
