/* Write all your custom CSS below this line  */

body { background: rgb(236, 159, 236)
}
    margin: 0;
}

h1,h2,h3,h4,h5,h5,p {
  margin;0  
}
header { background:rgb(187, 74, 187);
    text-align: center;
}

h2 {
    margin: 1em 0;
}

footer { 
    background: rgb(187, 74, 187);
    text-align: center;
}

text {
    margin: 0 auto;
}

img {
    width: 100%;
    max-width: 850px;
    margin: 0 auto;
    display: block;
}

section {
    background: rgb(120, 191, 221);
    max-width: 106ch;
    margin: 0 auto;
}