h1 {
    color:lightpink;
}

.animation-container {
    width: 45vw;
    height: 50vh; 
    backgorund: rgb(255, 182, 193);
}


#waiting {
    background: purple;
}
  

.animation-container {
    width: 50vw;
    height: 50vw;
    border: 1rem dashed rgb(218, 38, 218);
    
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  
  .circle {
    width: 100%;
    height: 100%;
    border: 1em solid purple;
    border-radius: 50%;
    
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-80%, -80%) rotateX(0) rotateY(0) scale(.25);
    animation: cool-spin 4s infinite alternate;
  }
  
  .a {border: 1em solid hsl(0, 72%, 60%);}
  .b {border: 1em solid hsl(271, 51%, 40%);}
  .c {border: 1em solid hsl(342, 68%, 43%);}
  .d {border: 1em solid hsl(327, 58%, 70%);}
  .e {border: 1em solid hsl(288, 95%, 60%);}
  
  @keyframes cool-spin {
    to {
      transform: translate(-50%, -50%) rotateX(360deg) rotateY(720deg) scale(.75);
    }
  }